/* body{
    width: 100%;
}
.container {
    background: linear-gradient(45deg, #7037b9, #3c57c08f);
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 7px #0000008c;
    width: 100%;
    margin: 5px;
}
.container input{
    
        padding: 3px;
        border-radius: 3px;
        border: navajowhite;
        margin: 0 3px;
        font-size: 13px;
    }

button {
    padding: 3px 7px;
  
    border-radius: 5px;
    border: navajowhite;
    background: black;
    color: white;
    cursor: pointer;
}
.reset-btn{
    margin: 0 auto;
} */
